body {
  background-color: #000000;
  color: #dce0e6;
  /* Para mejor contraste con el fondo negro */
}

@keyframes filterAnimation {

  0%,
  100% {
    filter: none;
  }

  50% {
    filter: drop-shadow(0 0 7em #50a8ff);
  }
}

.logo {
  will-change: filter;
  padding: 15px;
  /* Aplicar la animación */
  animation: filterAnimation 1s ease-in-out;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  padding: 2px;
  width: 100%;
  height: 22px;
  border: 2px solid #267591;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 16px;
  border-radius: 20px;
  background: #1775bd;
  animation: loading 2s forwards cubic-bezier(0, 0, 0, 0);
}