/* Contenedor desplazable sin mostrar scroll */
.container {
  overflow-y: auto;
  /* o scroll para siempre mostrar scroll funcional */
  -ms-overflow-style: none;
  /* Oculta scroll en IE/Edge antiguos */
  scrollbar-width: none;
  /* Oculta scroll en Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Oculta scroll en Chrome, Safari, Opera (basados en WebKit/Blink) */
}

/* Ocultar scroll en toda la página */
html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge legacy */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


body {
  background-color: #000000;
  color: #dce0e6;
  scrollbar-width: none;
  /* Para Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Para Chrome, Safari y Opera */
}

@keyframes filterAnimation {

  0%,
  100% {
    filter: none;
  }

  50% {
    filter: drop-shadow(0 0 7em #50a8ff);
  }
}

.logo {
  will-change: filter;
  /* Aplicar la animación */
  animation: filterAnimation 0s ease-in-out infinite;
}

.logo2 {
  will-change: filter;
  animation: filterAnimation 0s ease-in-out infinite;
}

/* Media query para pantallas pequeñas */
@media () {
  .logo2 {
    animation: filterAnimationSmall 0s ease-in-out infinite;
  }
}

@keyframes filterAnimationSmall {

  0%,
  100% {
    filter: none;
  }

  50% {
    filter: drop-shadow(0 0 20% #50a8ff);
  }
}


.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  padding: 2px;
  width: 100%;
  height: 22px;
  border: 2px solid #267591;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 15px;
  border-radius: 20px;
  background: #1775bd;
  animation: loading 0s forwards cubic-bezier(0, 0, 0, 0);
}

nav {
  position: fixed;
  height: 50%;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #23436529;
  padding: 20px 10px;
  border-radius: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff77;
  display: flex;
  align-items: center;
  cursor: none;
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewport="0 0 24 24" style="fill:black;"><circle cx="12" cy="12" r="10" fill="white"/></svg>') 12 12, auto; */
  width: 100%;
  transition: 0.2s all ease;
}

nav ul li a svg {
  width: 6%;
  height: 6%;
}

nav ul li a svg path {
  transition: 0.2s all ease;
}

nav ul li a span {
  position: absolute;
  background-color: #23436529;
  padding: 2px 15px;
  border-radius: 30px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ffffff;
}

nav ul li a.active span,
nav ul li a:hover span {
  opacity: 1;
  visibility: visible;
  margin-left: 50px;
}

nav.active ul li a span {
  position: relative;
  opacity: 1;
  visibility: visible;
  margin-left: 0;
}

nav.active ul li a:hover span {
  margin-left: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-in-out;
}


@keyframes fadeLogo {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeLogo {
  animation: fadeLogo 15s ease-in;
}

@keyframes rotate {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }
}

.animate-rotate {
  animation: rotate 2s linear infinite;
}